language: python
install:
  - export COVERALLS_SERVICE_NAME=travis-pro
  - export COVERALLS_REPO_TOKEN=gVyy0M8m40KHfJonzjb0c0pzpachxU2TA
  - pip install pytest
  - pip install pylint
  - pip install pytest-cov
  - pip install coveralls
  - pip install -r requirements.txt 
  - python -m pylint --disable=R,C,W,E1136,E1101,E1137,W0312 src/*.py || rc=$?;
  - if [[ $(($rc & 3)) -ne 0 ]] ; then echo "syntax error" && exit 0; else echo "syntax okay"; fi
script:
  - pytest --cov=src/
  - coveralls
